<a href="https://colab.research.google.com/github/IGVP/Python_IGVP/blob/main/Lesson_2_Potekhin.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [298]:
# Импортируем библиотеку Pandas
import pandas as pd

In [299]:
# Загружаем данные 'marketing_campaign.csv' в Python c помощью бибилиотеки Pandas
df_market_camp = pd.read_csv('marketing_campaign.csv')
# Посмотрим количество строк и столбцов в датафрейме
print(f'Размер датафрейма: {df_market_camp.shape}')
# Возвратим первые 3 строки загруженного датафрейма
df_market_camp.head(3)

Размер датафрейма: (10037, 6)

,user_id,date_served,marketing_channel,variant,language_displayed,converted
0,a1000,1/1/18,House Ads,personalization,English,True
1,a1001,1/1/18,House Ads,personalization,English,True
2,a1002,1/1/18,House Ads,personalization,English,True

In [300]:
# Загружаем данные 'users.csv' в Python c помощью бибилиотеки Pandas
df_users = pd.read_csv('users.csv')
# Посмотрим празмер датафрейма
print(f'Размер датафрейма: {df_users.shape}')
# Возвратим первые 3 строки загруженного датафрейма
df_users.head(3)

Размер датафрейма: (10037, 3)

  user_id    age_group language_preferred
0   a1000   0-18 years            English
1   a1001  19-24 years            English
2   a1002  24-30 years            English

In [301]:
# Загружаем данные 'users.csv' в Python c помощью бибилиотеки Pandas
df_subscribe = pd.read_csv('subscribers.csv')
# Посмотрим количество строк и столбцов в датафрейме
print(f'Размер датафрейма: {df_subscribe.shape}')
# Возвратим первые 3 строки загруженного датафрейма
df_subscribe.head(3)

Размер датафрейма: (10037, 5)

  user_id subscribing_channel date_subscribed date_canceled is_retained
0   a1000           House Ads          1/1/18           NaN        True
1   a1001           House Ads          1/1/18           NaN        True
2   a1002           House Ads          1/1/18           NaN        True

In [303]:
# Объеденим первые датафреймы
df_mcu = pd.merge(df_market_camp, df_users, on = 'user_id', how = 'left')
# Смотрим размер промежуточного датасета
print(f'Размер промежуточного датасета: {df_mcu.shape}')
# Выводим промежуточный датасет
df_mcu.head(3)

Размер промежуточного датасета: (10037, 8)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English

In [304]:
# Создаем результирующий датасет
df_market_research = pd.merge(df_mcu, df_subscribe, on = 'user_id', how = 'left')
# Смотрим размер результирующего датасета
print(f'Размер результирующего датасета: {df_market_research.shape}')
# Выводим первые три строки получившегося датасета
df_market_research.head(3)

Размер результирующего датасета: (10037, 12)

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
0,a1000,1/1/18,House Ads,personalization,English,True,0-18 years,English,House Ads,1/1/18,NaN,True
1,a1001,1/1/18,House Ads,personalization,English,True,19-24 years,English,House Ads,1/1/18,NaN,True
2,a1002,1/1/18,House Ads,personalization,English,True,24-30 years,English,House Ads,1/1/18,NaN,True

In [305]:
# Общая статистика датасета df_market_research
df_market_research.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10037 entries, 0 to 10036
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   user_id              10037 non-null  object
 1   date_served          10021 non-null  object
 2   marketing_channel    10022 non-null  object
 3   variant              10037 non-null  object
 4   language_displayed   10037 non-null  object
 5   converted            10022 non-null  object
 6   age_group            10037 non-null  object
 7   language_preferred   10037 non-null  object
 8   subscribing_channel  1856 non-null   object
 9   date_subscribed      1856 non-null   object
 10  date_canceled        577 non-null    object
 11  is_retained          1856 non-null   object
dtypes: object(12)
memory usage: 1019.4+ KB

In [306]:
# Описательная статистика для нечисловых столбцов датасета
df_market_research.describe(include=['object', 'bool'])

,user_id,date_served,marketing_channel,variant,language_displayed,converted,age_group,language_preferred,subscribing_channel,date_subscribed,date_canceled,is_retained
count,10037,10021,10022,10037,10037,10022,10037,10037,1856,1856,577,1856
unique,10037,31,5,2,4,2,7,4,5,31,115,2
top,a1000,1/15/18,House Ads,control,English,False,19-24 years,English,Instagram,1/16/18,4/2/18,True
freq,1,789,4733,5091,9793,8946,1682,9275,600,163,15,1279

Определить эффективность маркетинговых каналов по привлечению платящих игроков.

Проверка эффективности канала по удержанным пользователям.

In [307]:
# С какого канала пришел пользователь (эффективность маркетинговых каналов)
df_market_research['subscribing_channel'].value_counts()

Instagram    600
Facebook     445
House Ads    354
Email        290
Push         167
Name: subscribing_channel, dtype: int64

In [308]:
# Проверим эффективность маркетингового канала в отношении удержанных пользоватлей
df_market_research.loc[df_market_research['is_retained'] == 1, 'subscribing_channel'].value_counts()

Instagram    424
Facebook     321
Email        214
House Ads    198
Push         122
Name: subscribing_channel, dtype: int64

Определить самую раннюю дату подписки на сервис.

In [309]:
# Перевод строки в дату
df_market_research['date_subscribed'] = pd.to_datetime(df_market_research['date_subscribed'])
# Выбор минимальной даты и ее отображение
print('Дата перводй подписки: ', min(df_market_research['date_subscribed']))

Дата перводй подписки:  2018-01-01 00:00:00

Определить портрет аудитории удержанных подписчиков (по возрасту и языку).

In [310]:
# Формируем датасет удержанных пользователей, включаем возрастную группу и язык 
df_users_retained = df_market_research.loc[df_market_research['is_retained'] == 1, ['language_preferred','age_group']]
# Выводим размер таблицы
print(f'Размер таблицы: {df_users_retained.shape}\n')
# Смотрим портрет пользователей
df_users_retained.value_counts()

Размер таблицы: (1279, 2)

language_preferred  age_group
English             19-24 years    304
                    24-30 years    250
                    0-18 years     210
                    30-36 years    114
                    45-55 years    108
                    36-45 years    107
                    55+ years       86
German              24-30 years     15
                    19-24 years     11
                    0-18 years      10
Spanish             19-24 years     10
                    30-36 years      7
                    0-18 years       6
                    45-55 years      6
                    36-45 years      5
                    24-30 years      5
                    55+ years        5
German              45-55 years      3
Arabic              24-30 years      3
                    0-18 years       3
German              36-45 years      2
                    55+ years        2
Arabic              55+ years        2
                    45-55 years      2
German              30-36 years      1
Arabic              19-24 years      1
                    36-45 years      1
dtype: int64